/* Box Model Hack */
body::before {
  display: block;
  content:'';
  height: 50px;

}

/* Clear fix hack */

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
